<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/img/common/favicon.png" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="/Swiper/dist/css/swiper.min.css" >
    <link rel="stylesheet" href="/seajs/layer/skin/layer.css">
    <link rel="stylesheet" href="/css/group/group-add.css">
    <title><%= title %></title>
</head>

<body>
<%- include ../partial/header.html %>

<div class="content container">
    <form class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <label for="groupname" class="col-sm-2 control-label">群组名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="groupname" placeholder="群组名一定要拉风">
            </div>
        </div>
        <div class="form-group">
            <label for="info" class="col-sm-2 control-label">群组简介</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="info" placeholder="这里还是写点什么比较好">
            </div>
        </div>
        <div class="form-group">
            <label for="head-image" class="col-sm-2 control-label">群组头像</label>
            <div class="col-sm-9">
                <canvas id="cropper"></canvas>
                <!--<canvas id="preview180"></canvas>-->
                <canvas id="preview100"></canvas>
                <canvas id="preview50"></canvas>
                <div class="operation">
                    <span class="btn btn-default" id="selectBtn">选择</span>
                    <span class="btn btn-default" id="rotateLeftBtn">左旋转</span>
                    <span class="btn btn-default" id="rotateRightBtn">右旋转</span>
                    <input type="file" id="input" size="10" style="visibility:hidden;"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <span class="btn btn-primary" id="saveImage">确认</span>
            </div>
        </div>

    </form>
</div>
<input type="hidden" id="admin_id" value="<%= user._id%>"/>
<%- include ../partial/footer.html %>
<%- include ../partial/seajs.html %>
<script src="/js/group/group-add.js"></script>
</body>
</html>
