<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/img/common/favicon.png" />
    <link rel="stylesheet" href="/css/404.css">
    <title><%= title %></title>
    <!--<meta http-equiv="refresh" content="5;url=<%= host%>"/>-->
</head>

<body>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="pic">
                <div class="sorry">程序猿哥哥把页面偷走了</div>
                <div class="jump" data-host="<%= host%>">
                    <span></span>&nbsp;秒后跳转到首页
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ./partial/seajs.html %>
<script src="/js/404.js"></script>
</body>
</html>
