<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>师大附中</title>
	<link rel="stylesheet" href="/css/test/index.css">
</head>
<body>
	<div class="header">
		<div class="title-back"></div>
		<div class="title">
			<div class="left"></div>
			<div class="right">
				<p class="name">
					<span>东北师范大学第一附属中学<span>名&nbsp;企</span></span>
				</p>
				<div class="nav">
					<ul>
						<a href="#"><li class="active">单位首页</li></a>
						<a href="#"><li>宣讲日程</li></a>
						<a href="#"><li>在招职位</li></a>
						<a href="#"><li>单位点评</li></a>
						<a href="#"><li>面试经验</li></a>
						<a href="#"><li>远程面试</li></a>
						<a href="#"><li>宣讲点播</li></a>
					</ul>
					<div class="follow">
						<p>22425人已关注</p>
						<p><span class="icon-star"></span>&nbsp;&nbsp;加关注</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sprite">
		
	</div>
</body>
</html>